* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  color: black;
}
nav ul {
  background: red;
  display: flex;
  justify-content: space-between;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
